.grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.links a {
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 4px;
    color: #BFFFC3;
}